<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <form [formGroup]="formularioReg" (ngSubmit)="validar()">

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Correo institucional</ion-label>
            <ion-input formControlName="correo" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="firstName" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input formControlName="lastName" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Carrera</ion-label>
            <ion-select formControlName="carrera">
              <ion-select-option value="analista">Analista</ion-select-option>
              <ion-select-option value="enfermeria">Enfermeria</ion-select-option>
              <ion-select-option value="contabilidad">Contabilidad</ion-select-option>
              <ion-select-option value="ingeniriaConstruccion">Ingeniería en construccion</ion-select-option>
              <ion-select-option value="mecanica">Mecanica</ion-select-option>
              <ion-select-option value="teatro">Teatro</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Sede</ion-label>
            <ion-select formControlName="sede">
              <ion-select-option value="sanBernardo">San Bernardo</ion-select-option>
              <ion-select-option value="maipu">Maipu</ion-select-option>
              <ion-select-option value="alameda">Alameda</ion-select-option>
              <ion-select-option value="antonioVaras">Antonio Varas</ion-select-option>
              <ion-select-option value="melipilla">Melipilla</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>




      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>
              <p>Tengo auto</p>
            </ion-label>
            <ion-toggle color="warning" formControlName="conductor"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>





      <ion-button color="primary" type="submit" role="submit">
        Login
      </ion-button>
    </form>
  </ion-grid>

</ion-content>
